:root {
    /*Colores*/
    --bordes: #F4D03F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    min-width: 230px;
    max-width: 640px;
    height: 960px;
    background-color: #273746;
    /*border: 1px dashed var(--bordes);*/
}

main .main--div {
    order: 1;
    align-self: center;
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: 320px;
    min-width: 160px;
    height: 30px;
    background-color: #2980B9;
    /*border: 1px dashed var(--bordes);*/
}

main .main--div p {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    /*border: 1px dashed var(--bordes);*/
}

main .recipe {
    order: 2;
    margin-top: 10px;
}

main .recipe h4 {
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 1.8rem;
    color: #2980B9;
}

main .recipe p {
    margin-left: 5px;
    font-size: 1.6rem;
    color: #F5B041;
}

main .recipe .ingredientes {
    list-style-position: inside;
    color: #A569BD;
}

 main .recipe .ingredientes li {
     text-align: justify;
     margin-left: 10px;
     font-size: 1.3rem;
 }

main .recipe .elaboracion {
    list-style-position: inside;
    color: #2ECC71;
}

main .recipe .elaboracion li {
    text-align: justify;
    margin-left: 10px;
    font-size: 1.3rem;
}